.navbar {
  display: flex;
  gap: 25px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-bottom: 6px;
  position: relative;
  cursor: pointer;
}

/* Active link */
.nav-link.active {
  color: maroon;
  font-weight: 600;
}

/* Underline animation */
.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: maroon;
}
